[submodule "autopair"]
	path = .zsh/plugins/autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "autosuggestions"]
	path = .zsh/plugins/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "pure"]
	path = .zsh/plugins/pure
	url = https://github.com/sindresorhus/pure
[submodule "syntax-highlighting"]
	path = .zsh/plugins/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "system-clipboard"]
	path = .zsh/plugins/system-clipboard
	url = https://github.com/kutsan/zsh-system-clipboard
[submodule ".vim/pack/bundle/opt/tmuxline"]
	path = .vim/pack/bundle/opt/tmuxline
	url = https://github.com/edkolev/tmuxline.vim
[submodule ".vim/pack/bundle/start/fzf-vim"]
	path = .vim/pack/bundle/start/fzf-vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/bundle/start/fzf-core"]
	path = .vim/pack/bundle/start/fzf-core
	url = https://github.com/junegunn/fzf
[submodule ".vim/pack/bundle/start/polyglot"]
	path = .vim/pack/bundle/start/polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/bundle/start/lightline"]
	path = .vim/pack/bundle/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/bundle/opt/apprentice"]
	path = .vim/pack/bundle/opt/apprentice
	url = https://github.com/romainl/Apprentice
[submodule ".vim/pack/bundle/start/sneak"]
	path = .vim/pack/bundle/start/sneak
	url = https://github.com/justinmk/vim-sneak
[submodule ".vim/pack/bundle/start/quick-scope"]
	path = .vim/pack/bundle/start/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule ".vim/pack/bundle/start/repeat"]
	path = .vim/pack/bundle/start/repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".config/kak/plugins/plug.kak"]
	path = .config/kak/plugins/plug.kak
	url = https://gitlab.com/andreyorst/plug.kak.git
[submodule ".zsh/plugins/history-substring-search"]
	path = .zsh/plugins/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".tmux/plugins/prefix-highlight"]
	path = .tmux/plugins/prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule ".zsh/plugins/fzf-tab"]
	path = .zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".zsh/plugins/defer"]
	path = .zsh/plugins/defer
	url = https://github.com/romkatv/zsh-defer
[submodule ".zsh/plugins/fzf-gems"]
	path = .zsh/plugins/fzf-gems
	url = https://github.com/teto/fzf-gems
[submodule ".zsh/plugins/1password"]
	path = .zsh/plugins/1password
	url = https://github.com/sirhc/op.plugin.zsh
[submodule ".vim/pack/bundle/start/gitgutter"]
	path = .vim/pack/bundle/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/bundle/start/floaterm"]
	path = .vim/pack/bundle/start/floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule ".vim/pack/bundle/start/dirvish"]
	path = .vim/pack/bundle/start/dirvish
	url = https://github.com/justinmk/vim-dirvish
